[user]
  name = "Terry Young"
  email = "terryyounghk@gmail.com"
  signingKey = 19B8481D0ED43A17
[gpg]
  program = /opt/homebrew/bin/gpg
  gpgsign = true
[core]
  pager = delta
  editor = nvim
[init]
  defaultBranch = main
[color]
  ui = true
  pager = true
[fetch]
  prune = true
[pager]
  status = true
[interactive]
	diffFilter = delta --color-only --features=interactive
[delta]
	navigate = true
	light = false
	features = decorations
	side-by-side = true
[delta "interactive"]
	keep-plus-minus-markers = true
[delta "decorations"]
	commit-decoration-style = blue ol
	hunk-header-decoration-style = blue box
	hunk-header-file-style = red
	hunk-header-line-number-style = "#067a00"
	hunk-header-style = file line-number syntax
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
